body {
  text-align: center;
  background-color: rgb(91, 126, 97);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #7c818d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cocktail-card {
  border: 1px black solid;
  background-color: rgb(241, 167, 141);
  margin: 15px;
  color: darkslategray;
  border-radius: 15px;
  width: 20em;
  padding: 10px;
}

.cocktail-name {
  font-size: x-large;
  font-weight: 400;
}

.cocktail-ingredients {
  font-size: small;
  font-style: italic;
}

Link {
  text-decoration: none;
}