body {
  text-align: center;
  background-color: rgb(91, 126, 97);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #7c818d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cocktail-name {
  font-size: x-large;
  font-weight: 400;
}

.cocktail-ingredients {
  font-size: small;
  font-style: italic;
}

Link {
  text-decoration: none;
}

.create-input{
  margin: 5px;
}

.cocktail-card {
  border: 1px darkslategray solid;
  background-color: rgb(241, 167, 141);
  margin: 15px;
  color: darkslategray;
  border-radius: 15px;
  width: 20em;
  padding: 50px;
  align-content: space-between;
}

button {
  border-radius: 5px;
  margin-top: 15px;
}

.delete-button {
  background-color: firebrick;
}